* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#contenitore{
  width: 40%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  margin: 150px auto;
  border-radius: 20px;
}

#numeri{
  width: 80%;
  height: 100px;
  font-size: 2rem;
  text-align: center;
  margin-top: 60px;
}

#tempo_rimanente{
  background-color: lightsalmon;
  font-size: 2rem;
  border-radius: 50px;
  padding: 20px;
}