* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#contenitore{
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  margin: 150px auto;
}