* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#contenitore{
  width: 40%;
  height: 400px;
  background-color: lightgreen;
  margin: 150px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#numeri{
  width: 50%;
  height: 100px;
  font-size: 2rem;
  text-align: center;
}

#tempo_rimanente{
  height:100px;
  width:40%;
  background-color: lightsalmon;
  font-size: 2rem;
  border-radius: 50px;
  margin: auto;
}

#risultato{
  width: 50%;
  height: 100px;
  font-size: 1rem;
  border-radius: 20px;
  background-color: coral;
  margin-bottom: 20px;
  text-align: center;
}